.location-container {
  background-color: rgb(66, 66, 129, 0.3);
}

.store-list {
  display: flex;
  flex-direction: column;
}

.store-list-item {
  padding-top: 15px;
  font-family: "Delicious Handrawn", cursive;
}

.location-header {
  font-family: "Delicious Handrawn", cursive;
  font-size: 25px;
}
